.section{
    background-color: rgba(201, 197, 238, 0.27);
    padding: 5px;
    border-radius: 30px;
width: max-content;
margin: 0;
/* height: 100vh; */
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 5px;
}
