<div class="section">
  <!-- <app-nav></app-nav> -->
<h1>Over View</h1>
 <div class="container">
 
      <div>
       <highcharts-chart [Highcharts]="Highcharts"[options]="chart2"></highcharts-chart>
      </div>
      <div>
  <highcharts-chart [Highcharts]="Highcharts"[options]="chart3"></highcharts-chart>
      </div>   
      <div>
        <highcharts-chart [Highcharts]="Highcharts"[options]="chartOptions"></highcharts-chart>
      </div>   
      <div>
        <highcharts-chart [Highcharts]="Highcharts"[options]="chart2"></highcharts-chart>
      </div>   
 </div>
</div>