<app-menu></app-menu>
<div class = "z-depth-5 main">
<div class = "row">
<div class = "col-sm-6 picture">
<div><img class="circle responsive-img" src="https://unsplash.com/photos/a-man-in-a-white-shirt-is-posing-for-a-picture-mRVP1c59wko"></div>
</div>
<div class = "col-sm-6 details">
<div><p class="name"><b>Ahmed Nour</b> <i class = "material-icons tick">Admin</i></p></div>
<div><p>Email-gmail.com</p></div>
<div><p>+123456789</p></div>
</div>
</div>

<table class = "table">
<tr>
<td>
<p><b>36</b></p>
<p>Add</p>
</td>
<td>
<p><b>15</b></p>
<p>Edite</p>
</td>
<td>
<p><b>8</b></p>
<p>Delete</p>
</td>
</tr>
</table>

<div><a class="waves-effect btn edit">Edit Profile</a></div>

</div>