<div class="container">
   <div class="section1">
    <!-- total stoping mills -->
    <div class="analistys">
      <div class="totals"><a href="#"><svg><rect></rect></svg>Mill A<h6>120Hour</h6><h6>50 Minutes</h6></a></div>
      <div class="totals"><a href="#"><svg><rect></rect></svg>Mill B<h6>120Hour</h6><h6>50 Minutes</h6></a></div>
      <div class="totals"><a href="#"><svg><rect></rect></svg>Mill C<h6>120Hour</h6><h6>50 Minutes</h6></a></div>
      <div class="totals"><a href="#"><svg><rect></rect></svg>Mill D<h6>120Hour</h6><h6>50 Minutes</h6></a></div>
    </div>
    <!-- stoping mills daily -->
    <div class="totalStopingMills" style="margin-left: 40;"><highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart></div>
   </div>
   <!-- stoping at month -->
   <div class="section2">
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart2"></highcharts-chart></div>
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart3"></highcharts-chart></div>
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart4"></highcharts-chart></div>
   </div>
   <!-- stoping at year -->
   <div class="section3">
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart5"></highcharts-chart></div>
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart6"></highcharts-chart></div>
    <div ><highcharts-chart [Highcharts]="Highcharts" [options]="chart7"></highcharts-chart></div>
   </div>
  </div>